.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}



.App-link {
  color: #09d3ac;
}

.cardControl {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

}

.card {
  height: 200px;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin: 10px;
}

.switch {
  width: 100%;
  display: flex;
  justify-content: center;
}

.dropDown {
  width: 100%;
}




